*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Inter',sans-serif;
  background:#0b0f19;
  color:#fff;
  line-height:1.6;
}

a{
  text-decoration:none;
  color:inherit;
}

section{
  padding:80px 20px;
  max-width:1200px;
  margin:auto;
}
