body.resume-mode{
background:white;
color:black;
}

body.resume-mode .gradient-bg,
body.resume-mode .ai-chat,
body.resume-mode .recruiter-card{
display:none;
}

body.resume-mode .project-card{
box-shadow:none;
border:1px solid #ddd;
}
